aiohttp==3.9.5
aiosignal==1.3.1
allennlp==2.10.1
allennlp-models==2.10.1
async-timeout==4.0.3
attrs==23.2.0
base58==2.1.1
blis==0.7.11
boto3==1.34.150
botocore==1.34.150
cached-path==1.1.6
cachetools==5.4.0
catalogue==2.0.10
certifi==2024.7.4
chainer==7.8.1
charset-normalizer==3.3.2
click==8.1.7
commonmark==0.9.1
conllu==4.4.2
cymem==2.0.8
Cython==3.0.10
datasets==2.10.1
-e git+ssh://git@github.com/take1byte/depccg.git@cc21830ca970892acc0114a26f1c7143ae5a6ce2#egg=depccg
dill==0.3.6
docker-pycreds==0.4.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0-py3-none-any.whl
exceptiongroup==1.2.2
fairscale==0.4.6
filelock==3.7.1
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.2.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-auth==2.32.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
googledrivedownloader==0.4
h5py==3.11.0
huggingface-hub==0.10.1
idna==3.7
iniconfig==2.0.0
Janome==0.5.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonnet==0.20.0
langcodes==3.4.0
language_data==1.2.0
lmdb==1.5.1
lxml==5.2.2
marisa-trie==1.2.0
MarkupSafe==2.1.5
more-itertools==10.3.0
multidict==6.0.5
multiprocess==0.70.14
murmurhash==1.0.10
nltk==3.8.1
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pathlib_abc==0.1.1
pathtools==0.1.2
pathy==0.11.0
pillow==10.4.0
pluggy==1.5.0
preshed==3.0.9
promise==2.3
proto-plus==1.24.0
protobuf==3.20.3
psutil==6.0.0
py-rouge==1.1
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==1.8.2
Pygments==2.18.0
pytest==8.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2024.7.24
requests==2.32.3
responses==0.18.0
rich==12.6.0
rsa==4.9
s3transfer==0.10.2
sacremoses==0.1.1
scikit-learn==1.5.1
scipy==1.13.1
sentencepiece==0.2.0
sentry-sdk==2.11.0
setproctitle==1.3.3
shortuuid==1.0.13
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
spacy==3.3.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
tensorboardX==2.6.2.2
termcolor==1.1.0
thinc==8.0.17
threadpoolctl==3.5.0
tokenizers==0.12.1
tomli==2.0.1
torch==1.12.1
torchvision==0.13.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.20.1
typer==0.4.2
typing_extensions==4.5.0
tzdata==2024.1
urllib3==1.26.19
wandb==0.12.21
wasabi==0.10.1
wcwidth==0.2.13
word2number==1.1
xxhash==3.4.1
yarl==1.9.4
